@model IList<MyApp.UI.Models.MemberModel>

﻿@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <h1 class="display-4 text-center">WELCOME</h1>

    <div class="container-xxl bd-gutter">
        <div class="col-md-8 mx-auto text-center mb-3">
            <span class="text-body-secondary"><strong>Lorem ipsum</strong> dolor sit amet, consectetur adipiscing elit</span>
            <img src="https://freesvg.org/img/logo-generic.png" width="300" height="300" alt="Logo" class="d-none d-sm-block mx-auto mb-3">
            <h1 class="mb-3 fw-semibold lh-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>
            <p class="lead mb-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris id felis eu elit tincidunt lacinia. Integer vitae metus in lorem pulvinar eleifend. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In faucibus aliquam justo, ut elementum arcu scelerisque sit amet. Maecenas in lobortis dolor.
            </p>
        </div>
    </div>
</div>