
@{
    var model = new MemberModel();
}

<div class="container">
    <div class="mt-4">
        <h5 id="add-member-title">Add Member</h5>
    </div>
    <partial name="_UpsertMemberForm" model="model" />
</div>